*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/projectFilesBackup
src/main/java/io/left/flare/data/db/files/File.java
src/main/java/io/left/flare/data/db/files/FileDao.java
src/main/java/io/left/flare/ui/activity/dbtest/DBTestActivity.java
src/main/java/io/left/flare/ui/activity/dbtest/DBTestMvpPresenter.java
src/main/java/io/left/flare/ui/activity/dbtest/DBTestMvpView.java
src/main/java/io/left/flare/ui/activity/dbtest/DBTestPresenter.java
JavaDocs/
/Docs/UML/*
app/keystore/UML/VP/*
app/keystore/UML/Sequence/
app/keystore/commands/
app/keystore/contracts/
